@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition: background-color 1000ms ease-in-out;
  -webkit-transition: background-color 1000ms ease-in-out;
  -ms-transition: background-color 1000ms ease-in-out;
}

:root {
  box-sizing: border-box;
  background-color: #262626;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #ff7f00 #b0b7c4;
}
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
*::-webkit-scrollbar-track {
  background-clip: content-box;
  border: 1px solid transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: #ff7f00;
}
*::-webkit-scrollbar-thumb:hover {
  background-color: #e67200;
}
*::-webkit-scrollbar-corner,
*::-webkit-scrollbar-track {
  background-color: #b0b7c4;
}

.transition-width {
  transition: width 200ms linear;
}

.seekbar {
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid #8d8d8d8f;
  height: 3px;
  vertical-align: middle;
  border-radius: 20px;
  background-color: #94949475;
  outline: none;
}

.seekbar::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
  border: 1px solid #ff924fac;
  border-radius: 10px;
  background: #ff7300;
}

.seekbar::-webkit-slider-thumb:hover,
.seekbar::-webkit-slider-thumb:active,
.seekbar::-webkit-slider-thumb:focus {
  width: 20px;
  height: 20px;
}

.seekbar {
  display: block;
}
